

    <div class="app-content content container-fluid">
        <div class="content-wrapper">
          <div class="content-header row">
          </div>
          <div class="content-body">
              <div class="row">
                  <div class="col-xs-12">
                      <div class="card">
                          <div class="card-header">
                              <h1 class="card-title">Salary Section</h1>
                              <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                              <div class="heading-elements">
                                  <ul class="list-inline mb-0">
                                      <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                      <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                      <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                  </ul>
                              </div>
                          </div>
                          <div class="card-body collapse in">
                              <div class="row">
                                  <div class="col-lg-12 col-xl-12">
                                        <div class="col-md-6">
                                          <div class="card-block">
                                              <h4 class="card-title">Select Date Range</h4>
                                              <fieldset class="form-group position-relative has-icon-left mb-1">
                                                <input type="text" name="daterange" id="daterange" class="form-control" value = "<%- daterange %>" required /> 
                                                <div class="form-control-position">
                                                      <i class="icon-department"></i>
                                                  </div>
                                              </fieldset>
                                          </div>
                                        </div>
                                        <div class="col-md-6">
                                          <div class="card-block">
                                              <h4 class="card-title">Select Client</h4>
                                              <fieldset class="form-group position-relative has-icon-left mb-1">
                                                  <select class = "form-control" id="pclient" required>
                                                      <option value = "">-- Select Client Name --</option>
                                                      <% client.forEach(function(rows){ %>
                                                        <option value = "<%- rows.id %>"><%- rows.client_name %></option>
                                                      <% }) %>
                                                  </select>  
                                                  <div class="form-control-position">
                                                      <i class="icon-department"></i>
                                                  </div>
                                              </fieldset>
                                          </div>
                                        </div>
                                          <div class="card-block">
                                              <div class="table-responsive">
                                                  <div class="col-sm-12">
                                                      <h3>Select Employee</h3>
                                                      <table class="table" id = "pick-client" cellspacing="0" width="100%">
                                                          <thead class="bg-info">
                                                              <tr>
                                                                  <th>Full Name</th>
                                                                  <th>Rate</th>
                                                                  <th>Position</th>
                                                                  <th>Net</th>
                                                                  <th>Action</th>
                                                              </tr>
                                                          </thead>
                                                          <tbody></tbody>
                                                      </table>
                                                  </div> 
                                              
                                              </div>
                                          </div>
                                          <div class="card-block">
                                              <div class="table-responsive">
                                                  <div class="col-sm-12">
                                                      <button class = "btn btn-primary" id = "process">Process Payroll</button>
                                                      
                                                  </div> 
                                              
                                              </div>
                                          </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  </div>
              </div>
          <div class="content-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Salary Details </h4>
                            <h6 id="employee-pick"> </h6>
                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                    <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                </ul>
                            </div>
                        </div><br>

                        <div class="card-body collapse in">
                              <div class="table-responsive">
                                  <div class="col-sm-6">
                                      <h3>Earnings</h3>
                                      <table class="table"  cellspacing="0" width="100%">
                                          <thead class="bg-info">
                                              <tr>
                                                  <th width="25%"></th>
                                                  <th>HOURS</th>
                                                  <th>RATE</th>
                                                  <th>AMOUNT</th>
                                              </tr>
                                          </thead>
                                          <tbody>
                                                  <tr>
                                                    <td>Daily Rate</td>
                                                    <td></td>
                                                    <td><input type = "text" min = 0 class=" daily-rate form-control" readonly></td>
                                                    <td><input type = "text" min = 0 id = "monthlyRate" name="rate" id="rate" class="form-control rsest" readonly></td>
                                                  </tr>
                                                  <tr>
                                                    <td>Hourly Rate</td>
                                                    <td></td>
                                                    <td><input type = "text" min = 0  class="form-control hourlyRate" readonly></td>
                                                    <td><input type = "text" min = 0 name="h_rate" id = "daily_rate"  class="daily-rate form-control reset" readonly></td>
                                                  </tr>
                                                  <tr>
                                                    <td>Total Work Hours</td>
                                                    <td><input type = "text" min = 0 name="work_hours" id="_work_hours" class="form-control input-info" ></td>
                                                    <td><input type = "text" min = 0 id="work_hours" class="form-control hourlyRate input-hours" readonly></td>
                                                    <td><input type = "text" min = 0 name="work_hours_amount" id="work_hours_amount" class="basic-salary form-control compute" readonly></td>
                                                  </tr>
                                                  <tr>
                                                    <td>Regular OT</td>
                                                    <td><input type = "text" min = 0 name="ot_hours" id="_ot" class="form-control input-info" ></td>
                                                    <td><input type = "text" min = 0 id = "ot" name="ot_rate" class="form-control input-hours" readonly></td>
                                                    <td><input type = "text" min = 0 name="ot_amount" id="ot_amount" class="form-control compute" readonly></td>
                                                  </tr>
                                                  <tr>
                                                    <td>Regular ND</td>
                                                    <td><input type = "text" min = 0 name="nd_hours" id="_nd" class="form-control input-info" ></td>
                                                    <td><input type = "text" min = 0 id = "nd" name="nd_rate"  class="form-control input-hours" readonly></td>
                                                    <td><input type = "text" min = 0 name="nd_amount" id="nd_amount" class="form-control compute" readonly></td>
                                                  </tr>
                                                  <tr>
                                                    <td>Regular OT-ND</td>
                                                    <td><input type = "text" min = 0 name="ot_nd_hours" id="_ot_nd" class="form-control input-info" ></td>
                                                    <td><input type = "text" min = 0 id = "ot_nd" name="ot_nd_rate" class="form-control input-hours" readonly></td>
                                                    <td><input type = "text" min = 0 name="ot_nd_amount" id="ot_nd_amount" class="form-control compute" readonly></td>
                                                  </tr>
                                                  <tr>
                                                    <td>Legal Holiday</td>
                                                    <td><input type = "text" min = 0 name="lh_hours" id="_lh_rate" class="form-control input-info" ></td>
                                                    <td><input type = "text" min = 0 id = "lh_rate" name="lh_rate" class="form-control input-hours" readonly></td>
                                                    <td><input type = "text" min = 0 name="lh_amount" id="lh_rate_amount" class="form-control compute" readonly></td>
                                                  </tr>
                                                  <tr>
                                                    <td>Legal Holiday OT</td>
                                                    <td><input type = "text" min = 0 name="lh_ot_hours" id="_lh_ot" class="form-control input-info" ></td>
                                                    <td><input type = "text" min = 0 id = "lh_ot" name="lh_ot_rate" class="form-control input-hours" readonly></td>
                                                    <td><input type = "text" min = 0 name="lh_ot_amount" id="lh_ot_amount" class="form-control compute" readonly></td>
                                                  </tr>
                                                  <tr>
                                                    <td>Legal Holiday ND</td>
                                                    <td><input type = "text" min = 0 name="lh_nd_hours" id="_lh_nd" class="form-control input-info" ></td>
                                                    <td><input type = "text" min = 0 id = "lh_nd" name="lh_nd_rate" class="form-control input-hours" readonly></td>
                                                    <td><input type = "text" min = 0 name="lh_nd_amount" id="lh_nd_amount" class="form-control compute" readonly></td>
                                                  </tr>
                                                  <tr>
                                                    <td>Legal Holiday OT-ND</td>
                                                    <td><input type = "text" min = 0 name="lh_ot_nd_hours" id="_lh_ot_nd" class="form-control input-info" ></td>
                                                    <td><input type = "text" min = 0 id = "lh_ot_nd" class="form-control input-hours" readonly></td>
                                                    <td><input type = "text" min = 0 id="lh_ot_nd_amount" class="form-control compute" readonly></td>
                                                  </tr>
                                                  <tr>
                                                    <td>Special Holiday</td>
                                                    <td><input type = "text" min = 0 name="sh_hours" id="_sh_rate" class="form-control input-info" ></td>
                                                    <td><input type = "text" min = 0 id = "sh_rate" name="sh_rate" class="form-control input-hours" readonly></td>
                                                    <td><input type = "text" min = 0 name="sh_rate_amount" id="sh_rate_amount" class="form-control compute" readonly></td>
                                                  </tr>
                                                  <tr>
                                                    <td>Special Holiday OT</td>
                                                    <td><input type = "text" min = 0 name="sh_ot_hours" id="_sh_ot" class="form-control input-info" ></td>
                                                    <td><input type = "text" min = 0 id = "sh_ot" name="sh_ot_rate" id="sh_ot_rate" class="form-control input-hours" readonly></td>
                                                    <td><input type = "text" min = 0 name="sh_ot_amount" id="sh_ot_amount" class="form-control compute" readonly></td>
                                                  </tr>
                                                  <tr>
                                                    <td>Special Holiday ND</td>
                                                    <td><input type = "text" min = 0 name="sh_nd_hours" id="_sh_nd" class="form-control input-info" ></td>
                                                    <td><input type = "text" min = 0 id = "sh_nd" name="sh_nd_rate" class="form-control input-hours" readonly></td>
                                                    <td><input type = "text" min = 0 name="sh_nd_amount" id="sh_nd_amount" class="form-control compute" readonly></td>
                                                  </tr>
                                                  <tr>
                                                    <td>Special Holiday OT-ND</td>
                                                    <td><input type = "text" min = 0 name="sh_ot_nd_hours" id="_sh_ot_nd" class="form-control input-info" ></td>
                                                    <td><input type = "text" min = 0 id = "sh_ot_nd" name="sh_ot_nd_rate" class="form-control input-hours" readonly></td>
                                                    <td><input type = "text" min = 0 name="sh_ot_nd_amount" id="sh_ot_nd_amount" class="form-control compute" readonly></td>
                                                  </tr>
                                                  <tr>
                                                    <td>SH RD OT</td>
                                                    <td><input type = "text" min = 0 name="sh_rdot_hours" id="_sh_rdot" class="form-control input-info" ></td>
                                                    <td><input type = "text" min = 0 id = "sh_rdot" name="sh_rdot" id="sh_rdot" class="form-control input-hours" readonly></td>
                                                    <td><input type = "text" min = 0 name="sh_rdot_amount" id="sh_rdot_amount" class="form-control compute" readonly></td>
                                                  </tr>
                                                  <tr>
                                                    <td>LH RD OT</td>
                                                    <td><input type = "text" min = 0 name="lh_rdot_hours" id="_lh_rdot" class="form-control input-info" ></td>
                                                    <td><input type = "text" min = 0 id = "lh_rdot" name="lh_rdot" id="lh_rdot" class="form-control input-hours" readonly></td>
                                                    <td><input type = "text" min = 0 name="lh_rdot_amount" id="lh_rdot_amount" class="form-control compute" readonly></td>
                                                  </tr>
                                                  <tr>
                                                    <td>Work DayOff</td>
                                                    <td><input type = "text" min = 0 name="dayoff_hours" id="_day_off" class="form-control input-info" ></td>
                                                    <td><input type = "text" min = 0 id = "day_off" name="dayoff" id="dayoff" class="form-control input-hours" readonly></td>
                                                    <td><input type = "text" min = 0 name="dayoff_amount" id="day_off_amount" class="form-control compute" readonly></td>
                                                  </tr>
                                                  <tfoot>
                                                      <tr>
                                                        <th colspan="3" class="text-right">Basic Salary =</th>
                                                        <th><input type = "text" min = 0 name="basic_sal" id="basic-salary" class="form-control salary" readonly></th>
                                                      </tr>
                                                      <tr>
                                                        <th colspan="3" class="text-right">Net Salary =</th>
                                                        <th><input type = "text" min = 0 name="net_sal" id="net_sal" class="form-control salary" readonly></th>
                                                      </tr>
                                                      <tr>
                                                        <th colspan="3" class="text-right">Gross Salary =</th>
                                                        <th><input type = "text" min = 0 name="gross_sal" id="gross_sal" class="form-control salary" readonly></th>
                                                      </tr>
                                                      <tr>
                                                        <th colspan="2">
                                                          <select class = "form-control" id="pclient" required>
                                                              <option value = "">-- Select Adjustment --</option>
                                                              <% adjusment.forEach(function(rows){ %>
                                                                <option value = "<%- rows.id %>"><%- rows.aDescription %></option>
                                                              <% }) %>
                                                          </select>  
                                                        </th>
                                                        <th colspan="2">
                                                          <input type="number" name="adjustAmount" id="adjustAmount" class="form-control input-info">
                                                        </th>
                                                      </tr>
                                                      <tr>
                                                        <th colspan="2">
                                                          Other Deductions: <input type="text" name="other_deduc" id="other_deduc" class="form-control">
                                                        </th>
                                                        <th colspan="2">
                                                          <br/>
                                                          <input type="number" name="other_deducAmount" id="other_deducAmount" class="form-control input-info" required="true">
                                                        </th>
                                                      </tr>
                                                    </tfoot>
                                                </tbody>
                                      </table>
                                  </div> 
                                  <!-- end col-sm-6 -->
                                  <div class="col-sm-6">
                                          <h3>Allowance</h3>
                                          <table class="table" cellspacing="0" width="100%">
                                              <thead class="bg-info">
                                                  <tr>
                                                  <th></th>
                                                  <th>Amount</th>
                                                  </tr>
                                              </thead>
                                              <tbody>
                                                  <tr>
                                                  <td>COLA</td>
                                                  <td><input type = "text" min = 0 name="cola_amount" id="cola_amount" class="form-control reset" readonly></td>
                                                  </tr>
                                                  <tr>
                                                  <td>SEA</td>
                                                  <td><input type="text" name="sea_amount" id="sea_amount" class="form-control reset" readonly></td>
                                                  </tr>
                                                  <tr>
                                                  <td>CTPA</td>
                                                  <td><input type="text" name="ctpa_amount" id="ctpa_amount" class="form-control reset" readonly></td>
                                                  </tr>
                                              </tbody>
                                          </table>
                                          <h3>Benefits and Taxes</h3>
                                          <table class="table" cellspacing="0" width="100%">
                                              <thead class="bg-info">
                                                  <tr>
                                                  <th>Name</th>
                                                  <th>Employee</th>
                                                  <th>Company</th>
                                                  <th>Total</th>
                                                  </tr>
                                              </thead>
                                              <tbody>
                                                  <tr>
                                                      <th>SSS</th>
                                                      <th id ="sss-employee" class ="reset"></th>
                                                      <th id ="sss-employer" class ="reset"></th>
                                                      <th id ="sss-total" class ="reset"></th>
                                                  </tr>
                                                  <tr>
                                                      <th>Philhealth</th>
                                                      <th id ="philhealth-employee" class ="reset"></th>
                                                      <th id ="philhealth-employer" class ="reset"></th>
                                                      <th id ="philhealth-total" class ="reset"></th>
                                                  </tr>
                                                  <tr>
                                                      <th>Pagibig</th>
                                                      <th id ="pagibig-employee" class ="reset"></th>
                                                      <th id ="pagibig-employer" class ="reset"></th>
                                                      <th id ="pagibig-total" class ="reset"></th>
                                                  </tr>
                                                  <tr>
                                                      <th>Tax</th>
                                                      <th id ="tax-employee" class ="reset"></th>
                                                      <th id ="tax-employer" class ="reset"></th>
                                                      <th id ="tax-total" class ="reset"></th>
                                                  </tr>
                                                  <tr>
                                                      <th>Add-Tax</th>
                                                      <th id ="add-tax-employee" class ="reset">0</th>
                                                      <th id ="add-tax-employer" class ="reset">0</th>
                                                      <th id ="add-tax-total" class ="reset">0</th>
                                                  </tr>
                                              </tbody>
                                          </table>
                                          <br>
                                          <h3>Loans</h3>
                                                <table class="table" cellspacing="0" width="100">
                                                  <thead >
                                                  <% loanTypes.forEach(function(row){ %>
                                                      <tr>
                                                          <td><%- row.description %></td>
                                                          <td><input type="text" name="" id="loan-type-<%- row.id %>" code= "<%- row.id %>" class="form-control loan-get" readonly></td>
                                                        </tr>
                                                  <% }); %>
                                                  </thead>
                                                </table>
                                          

                                                <h3>Total Earnings</h3>
                                                <table class="table" cellspacing="0" width="100%">
                                                      <tr>
                                                          <th>Total Deductions =</th>
                                                          <td><input type="text" name="total_deductions" id="total_deductions" value="0.00" class="form-control reset" readonly></td>
                                                      </tr>
                                                      <tr>
                                                          <th>Total Other Deductions =</th>
                                                          <td><input type="text" name="other_deductions" id="other_deductions" class="form-control reset" readonly></td>
                                                      </tr>
                                                      <tr>
                                                        <th>Total Adjustments =</th>
                                                        <td>
                                                          <input type="text" name="total_adjustments" id="total_adjustments" class="form-control" readonly>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                          <th>Total Income =</th>
                                                          <td><input type="text" name="total_income" id="total_income" class="form-control reset" readonly></td>
                                                      </tr>
                                                      <tr>
                                                          <th>Payment Through:</th>
                                                          <td>
                                                          <select name="payment_typ" id="payment_typ" class="form-control">
                                                              <option value="1">Cash</option>
                                                              <option value="2">ATM</option>
                                                          </select>
                                                          </td>
                                                      </tr>
                                                      <tr>
                                                          <th></th>
                                                          <td>
                                                            <button id = "save-details" class = "btn btn-success" >Save</button>
                                                          </td>
                                                      </tr>
                                                  </table>
                                  </div>

                              </div>
                              <!-- end table responsive div -->
                          </div>
                        
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    