

    <div class="app-content content container-fluid">
      <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">SSS Contribution Table <button class="btn btn-outline-success" onclick="addSSS()"><i class="icon-plus3"></i></button></h4>
                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                    <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body collapse in">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <thead class="bg-info">
                                        <tr>
                                            <th rowspan="3">#</th>
                                            <th rowspan="3">RANGE OF COMPENSATION</th>
                                            <th rowspan="3">MONTHLY SALARY CREDIT</th>
                                            <th colspan="7" style="text-align: center;">Employer - Employee</th>
                                            <th>SE/VM/OFW</th>
                                            <th rowspan="3">Action</th>
                                        </tr >
                                        <tr>
                                            <th colspan="3" style="text-align: center;">Social Security</th>
                                            <th>EC</th>
                                            <th colspan="3" style="text-align: center;">Total Contribution</th>
                                            <th rowspan="2">Total Contribution</th>
                                        </tr>
                                        <tr>
                                            <th>ER</th>
                                            <th>EE</th>
                                            <th>TOTAL</th>
                                            <th>ER</th>
                                            <th>ER</th>
                                            <th>EE</th>
                                            <th>TOTAL</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       <% var i = 1; row.forEach(function(row){ if (row.end == 9999999.00){ var sal= 'over';}else{var sal = row.end;} %>
                                        <tr>
                                            <td><%- i++ %></td>
                                            <td><%- row.start %> - <%- sal %></td>
                                            <td><%- row.salary %></td>
                                            <td><%- row.employer %></td>
                                            <td><%- row.employee %></td>
                                            <td><%- row.total %></td>
                                            <td><%- row.ecc %></td>
                                            <td><%- row.employer + row.ecc %></td>
                                            <td><%- row.employee %></td>
                                            <td><%- (row.employer + row.ecc)+row.employee %></td>
                                            <td><%- row.total %></td>
                                            <td>
                                               <button class="btn btn-outline-info" onclick="updateSSS('<%- row.id %>')"><i class="icon-edit"></i></button> 
                                               <button class="btn btn-outline-danger" onclick="deleteSSS('<%- row.id %>')"><i class="icon-trash"></i></button>
                                            </td>
                                        </tr>
                                        <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>


    
  