

    <div class="app-content content container-fluid">
      <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <div class="row">
                <div class="col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Recruitment - Competency List 
                                <a href="/addCompetency/<%= data_id %>" class="btn btn-outline-success"><i class="icon-plus3"></i></a>
                            </h4>
                            <a class="heading-elements-toggle"><i class="icon-ellipsis font-medium-3"></i></a>
                            <div class="heading-elements">
                                <ul class="list-inline mb-0">
                                    <li><a data-action="collapse"><i class="icon-minus4"></i></a></li>
                                    <li><a data-action="reload"><i class="icon-reload"></i></a></li>
                                    <li><a data-action="expand"><i class="icon-expand2"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body collapse in">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                    <thead class="bg-info">
                                        <tr>
                                            <th>#</th>
                                            <th>Candidate Name</th>
                                            <th>Interview Status</th>
                                            <th>Interview Date</th>
                                            <th>Job Offer Date</th>
                                            <th>Final Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% var i = 1 ;%>
                                        <% data.forEach(function (user) { %>
                                        <tr>
                                            <th scope="row"><%= i++ %></th>
                                            <td><%= user.fname %> <%= user.mname %> <%= user.lname %></td>
                                            <td><%= user.interview_stat %></td>
                                            <td><%= user.interview_date %></td>
                                            <td><%= user.job_offer_date %></td>
                                            <td><%= user.final_stat %></td>
                                            <td>
                                            <% if (user.interview_stat !=='Passed'){%>
                                            <button type="button" class="btn btn-outline-info" onclick="updateStatusInterview('<%= user.id %>','<%= user.vacancy_id %>')"><i class="icon-edit"></i></button>
                                            <button type="button" class="btn btn-outline-danger" onclick="deleteStatus('<%= user.id %>','<%= user.vacancy_id %>')"><i class="icon-trash"></i></button>
                                            </td>
                                            <% }else if(user.final_stat === 'Hired') { %>
                                             <button type="button" class="btn btn-outline-info" disabled="disabled"><i class="icon-edit"></i></button>
                                            <% } else {%>
                                            <button type="button" class="btn btn-outline-info" onclick="updateStatusJob('<%= user.id %>','<%= user.vacancy_id %>')"><i class="icon-edit"></i></button>
                                            <button type="button" class="btn btn-outline-danger" onclick="deleteStatus('<%= user.id %>','<%= user.vacancy_id %>')"><i class="icon-trash"></i></button>
                                            </td>
                                            <% } %>
                                        </tr>
                                        <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  