
<% include ../../layout/header.ejs %>
<% include ../../layout/head.ejs %>
<% include ../../element/menu.ejs %>
<% include ../../element/top_nav.ejs %>


<div id="overlay">
<div id="progstat"></div>
<div id="progress"></div>
</div>

<div id="container">
<% include section.ejs %>
</div>


<% include ../../layout/footer.ejs %>

<script>
	function updateVacancy(id)
	{
	  $('#rowid').val(id);
	  $('#VacancyModal_update').modal('show');
		$('.modal-title').text('Update Job Vacancy');
		
			$.ajax({
				type:"get",
				url:"/vacancy_by_id?id="+id,
				cache:false,
				success:function(data){

					data.forEach(function(row) { 
						var client = JSON.stringify(row.client_name);
						var total_position = JSON.stringify(row.total_position);
						var range_from = JSON.stringify(row.tange_from);
						var range_to = JSON.stringify(row.range_to);
						
						$('#client').val(client.replace(/\"/g, ""));
						$('#total_position').val(total_position.replace(/\"/g, ""));
						$('#range_from').val(range_from);
						$('#range_to').val(range_to);
					});	
				}	
			});

	} 

	function deleteVacancy(id)
	{
	  $('#rowid_del').val(id);
	  $('#VacancyModal_delete').modal('show');
	  $('.modal-title').text('Delete Job Vacancy');
	} 

	function addVacancy(){

	  $('#VacancyModal_add').modal('show');
	  $('.modal-title').text('Add Job Vacancy');

	}
</script>

<div class="modal fade text-xs-left" id="VacancyModal_add" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
  <div class="modal-dialog" role="document">
  	<form class="form-horizontal form-simple" id="addVacancy" method="post" action="/addVacancy" novalidate>
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title" id="myModalLabel2"><i class="icon-road2"></i> </h4>
	  </div>
	  <div class="modal-body">
		<fieldset class="form-group position-relative has-icon-left mb-1">
			<select  class="form-control" name="client" id="client" required>
				<option disabled selected>Select Client</option>
				<% client.forEach(function (user) { %>
				 	<option value="<%= user.id%>"><%= user.client_name %></option>
				<% })%>
			</select>
			<div class="form-control-position">
			    <i class="icon-list"></i>
			</div>
		</fieldset>
		<fieldset class="form-group position-relative has-icon-left mb-1">
			<select  class="form-control" name="job_title" id="job_title" required>
				<option disabled selected>Select Job Title</option>
				<% job.forEach(function (user) { %>
				 	<option value="<%= user.id%>"><%= user.job_title %></option>
				 <% })%>
			</select>
			<div class="form-control-position">
			    <i class="icon-list"></i>
			</div>
		</fieldset>
		<fieldset class="form-group position-relative has-icon-left mb-1">
			<select  class="form-control" name="dept" id="dept" required>
				<option disabled selected>Select Department</option>
				<% dept_data.forEach(function (user) { %>
				 	<option value="<%= user.id%>"><%= user.description %></option>
				 <% })%>
			</select>
			<div class="form-control-position">
			    <i class="icon-list"></i>
			</div>
		</fieldset>
		<fieldset class="form-group position-relative has-icon-left mb-1">
			<select  class="form-control" name="region" id="region" required>
				<option disabled selected>Select Region</option>
				<% region_data.forEach(function (user) { %>
				 	<option value="<%= user.id%>"><%= user.description %></option>
				 <% })%>
			</select>
			<div class="form-control-position">
			    <i class="icon-list"></i>
			</div>
		</fieldset>
		<fieldset class="form-group position-relative has-icon-left mb-1">
			<select  class="form-control" name="shift" id="shift" required>
				<option disabled selected>Select Work Shift</option>
				<% shift_data.forEach(function (user) { %>
				 	<option value="<%= user.id%>"><%= user.shift_type %></option>
				 <% })%>
			</select>
			<div class="form-control-position">
			    <i class="icon-list"></i>
			</div>
		</fieldset>
		<fieldset class="form-group position-relative has-icon-left mb-1">
			<input type="number" class="form-control" id="total_position" name="total_position" placeholder="Total Position" required>
			<div class="form-control-position">
			    <i class="icon-list"></i>
			</div>
		</fieldset>
		<fieldset class="form-group position-relative has-icon-left mb-1">
				<div class="col-md-6">
						<label>Starting Offer Range</label>
					<div class="input-group">
						<span class="input-group-addon">Php.</span>
						<input type="text" class="form-control square" placeholder="Range From"  name="range_from" id="range_from">
						<span class="input-group-addon">.00</span>
					</div>
				</div>
				<div class="col-md-6">
					<label>&nbsp;</label>
					<div class="input-group">
						<span class="input-group-addon">Php.</span>
						<input type="text" class="form-control square" placeholder="Range To" name="range_to" id="range_to">
						<span class="input-group-addon">.00</span>
					</div>
				</div>
		</fieldset>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
		<button type="submit" class="btn btn-outline-primary">Save changes</button>
	  </div>
	</div>
	</form>
  </div>
</div>

<div class="modal fade text-xs-left" id="VacancyModal_update" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
  <div class="modal-dialog" role="document">
  	<form class="form-horizontal form-simple" id="updateVacancy" method="post" action="/updateVacancy" novalidate>
  	<input type="hidden" name="rowid" id="rowid">
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title" id="myModalLabel2"><i class="icon-road2"></i> </h4>
	  </div>
	  <div class="modal-body">
		<fieldset class="form-group position-relative has-icon-left mb-1">
			<select  class="form-control" name="client" id="client" required>
				<option disabled selected>Select Client</option>
				<% client.forEach(function (user) { %>
				 	<option value="<%= user.id%>"><%= user.client_name %></option>
				 <% })%>
			</select>
			<div class="form-control-position">
			    <i class="icon-list"></i>
			</div>
		</fieldset>
		<fieldset class="form-group position-relative has-icon-left mb-1">
			<select  class="form-control" name="job_title" id="job_title" required>
				<option disabled selected>Select Job Title</option>
				<% job.forEach(function (user) { %>
				 	<option value="<%= user.id%>"><%= user.job_title %></option>
				 <% })%>
			</select>
			<div class="form-control-position">
			    <i class="icon-list"></i>
			</div>
		</fieldset>
		<fieldset class="form-group position-relative has-icon-left mb-1">
			<select  class="form-control" name="dept" id="dept" required>
				<option disabled selected>Select Department</option>
				<% dept_data.forEach(function (user) { %>
				 	<option value="<%= user.id%>"><%= user.description %></option>
				 <% })%>
			</select>
			<div class="form-control-position">
			    <i class="icon-list"></i>
			</div>
		</fieldset>
		<fieldset class="form-group position-relative has-icon-left mb-1">
			<select  class="form-control" name="region" id="region" required>
				<option disabled selected>Select Region</option>
				<% region_data.forEach(function (user) { %>
				 	<option value="<%= user.id%>"><%= user.description %></option>
				 <% })%>
			</select>
			<div class="form-control-position">
			    <i class="icon-list"></i>
			</div>
		</fieldset>
		<fieldset class="form-group position-relative has-icon-left mb-1">
			<select  class="form-control" name="shift" id="shift" required>
				<option disabled selected>Select Work Shift</option>
				<% shift_data.forEach(function (user) { %>
				 	<option value="<%= user.id%>"><%= user.shift_type %></option>
				 <% })%>
			</select>
			<div class="form-control-position">
			    <i class="icon-list"></i>
			</div>
		</fieldset>
		<fieldset class="form-group position-relative has-icon-left mb-1">
			<input type="number" class="form-control" id="total_position" name="total_position" placeholder="Total Position" required>
			<div class="form-control-position">
			    <i class="icon-list"></i>
			</div>
		</fieldset>
		<fieldset class="form-group position-relative has-icon-left mb-1">
			<div class="col-md-6">
					<label>Starting Offer Range</label>
				<div class="input-group">
					<span class="input-group-addon">Php.</span>
					<input type="text" class="form-control square" placeholder="Range From"  name="range_from" id="range_from">
					<span class="input-group-addon">.00</span>
				</div>
			</div>
			<div class="col-md-6">
				<label>&nbsp;</label>
				<div class="input-group">
					<span class="input-group-addon">Php.</span>
					<input type="text" class="form-control square" placeholder="Range To" name="range_to" id="range_to">
					<span class="input-group-addon">.00</span>
				</div>
			</div>
	</fieldset>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
		<button type="submit" class="btn btn-outline-primary">Save changes</button>
	  </div>
	</div>
	</form>
  </div>
</div>

<div class="modal fade text-xs-left" id="VacancyModal_delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
  <div class="modal-dialog" role="document">
  	<form class="form-horizontal form-simple" id="deleteVacancy" method="post" action="/deleteVacancy" novalidate>
	<div class="modal-content">
	  <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
		  <span aria-hidden="true">&times;</span>
		</button>
		<h4 class="modal-title" id="myModalLabel2"><i class="icon-road2"></i> </h4>
	  </div>
	  <div class="modal-body">
  		<input type="hidden" name="rowid_del" id="rowid_del">
		<p>
			Are you sure you want to delete Job Vacancy?
		</p>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancel</button>
		<button type="submit" class="btn btn-outline-primary">Delete</button>
	  </div>
	</div>
	</form>
  </div>
</div>

<% include ../../layout/foot.ejs %>
